lib/
build/
*.jar
.project
build.xml
*.settings
.classpath
*.vests
*.properties
target/
src/out/
src/test/
src/.idea/
*.cfg
*.points
src/main/java/com/ancientpriest/priestbot/Constants.java
INSTALL.md
*.csv
*.sql
